<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CaoQiao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DataSchool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>YiZhou.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C3AFB5E1D1253BE0073966D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C83D10E1D658DFD00D1C62D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CE0CACD1C0DDED80059C247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CE0CAE61C0DDED80059C247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
